@font-face {
    font-family: Pixel;
    src: url("https://raw.githubusercontent.com/Krystian-Wysocki-WSEI/HTMenel-zaliczenie/10dac218f4bea95835b2ce3e860bd1e4e303b4cd/assets/m5x7.ttf");
}

* {
    box-sizing: border-box;
}

body {
    font-family: Pixel, sans-serif;
    font-size: 1.65rem;
    line-height: 0.9;
    background-color: var(--bgColor);
    color: var(--fontColor);
    --bgColor: #111;
    --fontColor: white;
    --guideTransitionDur: 0.5s;
    --guideShineDur: 0.25s;
    --shineWidth: 6rem;
    --shineSkew: -20deg;
    --entranceDuration: 1.1s;
    --sectionIconSize: 4rem;
    margin: 0;
    padding: 0;
}

#container {
    width: 70vw;
    margin: 0 auto;
}

header {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

/* Styled to look lihe Hardmode Text in WK */
.hardmode_text {
    color: red;
}

/* Styled to look like Iron Knuckle text in WK */
.iron_knuckle {
    color: orange;
}

.headerItem {
    text-align: center;
}

.pageTitle {
    font-size: 4rem;
    font-weight: bolder;
    margin-bottom: 0.65rem;
}

.pageSub {
    font-size: 2rem;
    font-weight: 500;
}

.handLeft, .handRight {
    height: 10rem;
    width: auto;
}

.handLeft {
    animation: shakeLeft 0.5s infinite;
}

.handRight {
    animation: shakeRight 0.5s infinite;
    transform: scaleX(-1);
}

.guideList {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin: 20px 0px;
}

.guideLink {
    color: var(--fontColor);
    background: transparent;
    display: inline-block;
    border: 2px solid darkgrey;
    border-radius: 15px;
    padding: 1rem 1.3rem;
    z-index: 0;
    height: 10rem;
    /* Fix for BG's absolute positioning */
    position: relative;
    overflow: hidden;
    transition: var(--guideTransitionDur);
    text-decoration: none;
    cursor: default;
    animation-play-state: paused;
    --animationName: "";
    opacity: 0;
}

.guideLink:hover {
    transform: scale(1.1);
    z-index: 5;
}

.guideLink:hover .guideBg {
    transform: scale(1.6);
}

.left {
    transform-origin: right center;
    --animationName: "guideEntranceLeft";
}

.right {
    transform-origin: left center;
    --animationName: "guideEntranceRight";
}

.bottom {
    transform-origin: center top;
    grid-column: span 2;
    --animationName: "guideEntranceBottom";
}

.visible {
    animation: var(--animationName) var(--entranceDuration);
    opacity: 1;
}

.guideBg {
    position: absolute;
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    transform: scale(1.2);
    inset: 0;
    z-index: -1;
    color: red;
    transition: var(--guideTransitionDur);
}

.hoverShine {
    height: 100%;
    position: absolute;
    background: linear-gradient(to right, transparent 0%, white 33%, white 67%, transparent 100%);
    z-index: 20;
    width: var(--shineWidth);
    transform: skewX(var(--shineSkew));
    display: none;
    top: 0;
    left: calc(var(--shineWidth) * -1.5);
}

.guideLink:hover .hoverShine {
    animation: guideShine linear both;
    animation-duration: var(--guideShineDur);
    display: block;
}

.bgAltText {
    display: none;
}

.guideTitle {
    font-weight: bolder;
    font-size: 1.3em;
    margin-bottom: 10px;
    user-select: none;
}

.guideSub {
    font-size: 0.9em;
    opacity: 0.65;
    user-select: none;
}

.guideTitle, .guideSub {
    text-shadow: 0px 0px 7px black;
}

.highContrast>.guideSub {
    opacity: 0.85;
}

.highContrast>.guideBg {
    filter: brightness(0.65);
}

.sectionSeparator {
    background: linear-gradient(to right, transparent 3%, white 15%, white 85%, transparent 97%);
    height: 2px;
    margin: 1.5rem 0px;
    z-index: -2;
}

section {
    padding: 0 0px;
}

.section_title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.sectionIcon {
    width: auto;
    height: var(--sectionIconSize);
    order: -1;
    margin-right: 20px;
}

.section_content {
    text-align: justify;
}

.insiteLink {
    color: var(--fontColor);
    font-weight: bold;
    padding: 0rem 0.3rem 0.2rem 0.3rem;
    display: inline-block;
    border-radius: 7px;
    margin: 0;
}

.insiteLink:hover {
    color: var(--bgColor);
    background-color: var(--fontColor);
}

.txt {
    margin-bottom: 1rem;
}

.withTooltip {
    border-bottom: 2px var(--fontColor) dotted;
}

.requiredStar {
    color: rgb(255, 43, 43);
    font-weight: bold;
}

footer {
    margin: 2rem 0;
    text-align: center;
    font-size: 1.25em;
}

.newsletterForm {
    display: flex;
    align-content: space-evenly;
    justify-content: space-evenly;
    gap: 4rem;
    margin: 0 4rem;
}

.newsletterForm>form {
    width: fit-content;
    flex-shrink: 0;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.newsletterForm>form label {
    margin-bottom: 0.2rem;
    user-select: none;
}

.newsletterForm>form>input {
    margin-bottom: 1rem;
}

.newsletterForm>form>fieldset {
    margin-bottom: 1rem;
}

.txtInput {
    max-width: 15rem;
    width: 80%;
    padding: 0.3rem;
}

.submitButton {
    margin-top: 1rem;
    padding: 0.4rem 0.8rem;
    font-family: Pixel;
    font-size: 1.05em;
    line-height: 1;
    font-weight: bold;
    border-radius: 0;
    border: 3px var(--buttonColor) solid;
    background-color: var(--bgColor);
    color: var(--buttonColor);
    --buttonColor: rgb(230, 114, 6);
    cursor: pointer;
    transition-duration: 0.3s;
    text-transform: uppercase;
}

.submitButton:hover {
    color: var(--bgColor);
    background-color: var(--buttonColor);
}

/* Switch form flex direction, since the side text will be too squeezed by now */
@media only screen and (max-width: 1090px) {
    .newsletterForm {
        flex-direction: column;
        gap: 0.5em;
    }

    .newsletterForm>form {
        align-self: center;
    }
}

/* Lower size of font in Challenges and Speedrunning links, as the text goes out of bounds */
@media only screen and (max-width: 1050px) {
    #challenges, #speedrunning {
        font-size: 1.45rem;
        /* font-size: clamp(); */
    }
}

/* Switch from 2 column to single column, also increase the size of Challenges and Speedrunning links' fonts back up */
@media only screen and (max-width: 800px) {
    #challenges, #speedrunning {
        font-size: inherit;
    }

    .guideList {
        display: flex;
        flex-direction: column;
        gap: 1em;
    }

    .left, .right, .bottom {
        transform-origin: center;
    }

    .bottom {
        --animationName: "guideEntranceLeft";
    }
}

/* Remove form's padding */
@media only screen and (max-width: 630px) {
    .newsletterForm {
        margin: 0;
    }
}

/* Disable hands in header, once again decrease annnoying fonts' size, slightly increase container width */
@media only screen and (max-width: 500px) {
    #container {
        width: 85vw;
    }

    .handLeft, .handRight {
        display: none;
    }

    #challenges, #speedrunning {
        font-size: 1.45rem;
    }
}

/* For phones and down */
@media only screen and (max-width: 400px) {
    #container {
        width: 85vw;
    }
}

@keyframes guideEntranceLeft {
    from {
        right: 50%;
        opacity: 0;
    }

    to {
        right: 0px;
        opacity: 1;
    }
}

@keyframes guideEntranceRight {
    from {
        left: 50%;
        opacity: 0;
    }

    to {
        left: 0px;
        opacity: 1;
    }
}

@keyframes guideEntranceBottom {
    from {
        top: 150%;
        opacity: 0;
    }

    to {
        top: 0px;
        opacity: 1;
    }
}

@keyframes guideShine {
    from {
        left: calc(100% + (var(--shineWidth) * 1.5));
    }

    to {
        left: calc(var(--shineWidth) * -1.5);
    }
}

/* Keyframes from: https://www.w3schools.com/howto/howto_css_shake_image.asp */
@keyframes shakeLeft {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@keyframes shakeRight {
  0% { transform: translate(1px, 1px) rotate(0deg) scaleX(-1); }
  10% { transform: translate(-1px, -2px) rotate(-1deg) scaleX(-1); }
  20% { transform: translate(-3px, 0px) rotate(1deg) scaleX(-1); }
  30% { transform: translate(3px, 2px) rotate(0deg) scaleX(-1); }
  40% { transform: translate(1px, -1px) rotate(1deg) scaleX(-1); }
  50% { transform: translate(-1px, 2px) rotate(-1deg) scaleX(-1); }
  60% { transform: translate(-3px, 1px) rotate(0deg) scaleX(-1); }
  70% { transform: translate(3px, 1px) rotate(-1deg) scaleX(-1); }
  80% { transform: translate(-1px, -1px) rotate(1deg) scaleX(-1); }
  90% { transform: translate(1px, 2px) rotate(0deg) scaleX(-1); }
  100% { transform: translate(1px, -2px) rotate(-1deg) scaleX(-1); }
}